<form action='/suggestions' method='post'>
  <div>
    <input type='text' name='name' placeholder='Your Suggestion' />
  </div>
  <div>
    <textarea name='description'>
    </textarea>
  </div>
  <div>
    <input type='submit'>
  </div>
</form>